<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
    <activity
        android:name=".CheckoutActivity"
        android:exported="false"
        android:label="Checkout"
        android:theme="@style/Theme.ModularizationNavigationCaseStudy" />
</application>
</manifest>